header {
  width: 100%;
  background-color: #EAD9FF;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #808080;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

.main-header {
  /*padding-bottom: 30%;*/
  width: 100%;
  background-size: cover;
  /*background-image: url("IMG_1303.JPG");*/
  background-attachment: fixed;
  background-position: center center;
}

footer {
  width: 100%;
  background-color: #EAD9FF;
  color: #808080;
  margin: auto;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

blog_links {
  border-style: solid;
  border-width: 1px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  margin-bottom: 10em;
}

.file_image {
  display: inline !important;
}